<mat-card>
  <mat-card-content>
    <div class="table-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource" class="color1bg">
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element" [ngSwitch]="element.desc">
            <span *ngSwitchCase="'email'">
              <a href="mailto:xjx.fruxtigerxx@somexdudxes.xch" onmouseover="this.href=this.href.replace(/x/g,'')">
                <span class="reverse">hc.weivertpyrc@regiturf.j</span>
              </a>
            </span>
            <span *ngSwitchDefault>
              <a [href]="element.desc">{{element.desc}}</a>
            </span>
          </mat-cell>
        </ng-container>
        <!--<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>