<mat-card>
  <span class="title" [@flyIn]="isIn">Portfolio: Joël Frutiger</span>
  <button mat-raised-button (click)="toggleLanguage()" class="langToggle">
    <span [ngClass]="{'selected':translate.currentLang == 'en'}">EN</span>
    <span> / </span>
    <span [ngClass]="{'selected':translate.currentLang == 'de'}">DE</span>
  </button>
  <span class="mobileOnly">
    <button class="buttonColor" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button *ngFor="let content of contents" mat-menu-item [routerLink]="content.path">
        <mat-icon *ngIf="!content.tile.isImage">{{content.icon}}</mat-icon>
        <span *ngIf="!content.tile.isImage" translate>{{content.tile.text}}</span>
      </button>
    </mat-menu>
  </span>
</mat-card>
