<mat-card>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile [ngClass]="{'navTile' : (content.title != 'Image')}" *ngFor="let content of contents"
        [colspan]="content.tile.cols" [rowspan]="content.tile.rows" [style.background]="content.tile.color"
        (mouseenter)="content.tile.tileHovered = 'active'" (mouseleave)="content.tile.tileHovered = 'inactive'"
        [@hoverState]="content.tile.hoverable ? content.tile.tileHovered : 'out'" [routerLink]="content.path">
        <h3 *ngIf="!content.tile.isImage" translate>{{content.tile.text}}</h3>
        <img *ngIf="content.tile.isImage" [lazyLoad]="content.tile.imgPath" class="portrait" />
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
