<mat-card>
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile *ngFor="let content of contents" [colspan]="content.tile.cols" [rowspan]="content.tile.rows" [style.background]="content.tile.color" (mouseenter)="content.tile.tileHovered = 'active'"
      (mouseleave)="content.tile.tileHovered = 'inactive'" [@hoverState]="content.tile.tileHovered" (click)="toggleContent(content)">
      <span *ngIf="!content.tile.isImage">{{content.tile.text}}</span>
      <img *ngIf="content.tile.isImage" [src]="content.tile.imgPath" />
    </mat-grid-tile>
  </mat-grid-list>
  <app-contact [@flyInOut]="contents[0].state" class="content" *ngIf="contents[0].state == 'in'">
  </app-contact>
  <app-projects [@flyInOut]="contents[1].state" class="content" *ngIf="contents[1].state == 'in'">
  </app-projects>