.projPanel{
    margin-bottom: 20px;
    line-height:1.5;
}
.projPanelHeader{
    font-size: larger;
    font-weight:bold;
}
.buttonRow{
  justify-content: space-around;
  margin-bottom: 50px;
}
.mat-raised-button{
    margin-right:5px;
    margin-bottom:5px;
}
.mat-raised-button.tagListButton:hover{
    background-color:rgb(83, 90, 88);
}
.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover{
    background-color:#076645;
}
.projImg{
    max-height:100px;
    max-width
    :100px;
}
.projImgPos{
    position: absolute;
    right:50px;
}
.projectDesc{
    margin-right:100px;
}
.projUrl{
    color:black;
}
mat-expansion-panel-header{
  height: 2.5rem;
}
.tagText{
  padding-left: 5px;
}

@media (min-width:0px){
    .panelImg{
        margin-left:5px;
    }
    .hide400{
        display:none;
    }
    .hide500{
        display:none;
    }
}
@media (min-width:500px){
    .panelImg{
        margin-left:5px;
    }
    .hide400{
        display:initial;
    }
    .hide500{
        display:none;
    }
}
@media (min-width:800px){
    .panelImg{
        margin-left:10px;
    }
    .hide400{
        display:initial;
    }
    .hide500{
        display:initial;
    }
}
@media (min-width:900px){
    .panelImg{
        margin-left:20px;
    }
    .hide400{
        display:initial;
    }
    .hide500{
        display:initial;
    }
}
.tagActive{
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    background-color:rgb(8, 115, 78);
    background-color: grey;
}
.projDesc{
    position: absolute;
    right:50px;

}
.panelWorkImg{
    line-height: 0;
}
